Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
mutagen==1.47.0
pillow==11.0.0
pycryptodomex==3.21.0
pystray==0.19.5
requests==2.32.3
six==1.16.0
urllib3==2.2.3
websockets==13.1
winotify==1.1.0
yt-dlp==2024.10.7
